option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_DEFAULT_REGION: us-east-1
    AWS_REGION: us-east-1
    BEDROCK_MODEL_ID: us.anthropic.claude-3-7-sonnet-20250219-v1:0
    STRANDS_LLM: bedrock/us.anthropic.claude-3-7-sonnet-20250219-v1:0
    FLASK_ENV: production
    OPENWEATHER_API_KEY: 5de0650c2a6fd75c5f27efcba7264c54